@model ExModelBinding.Models.UserInfo

@{
    ViewData["Title"] = "SaveCheck";
}

<h1>SaveCheck</h1>

<h4>UserInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveCheck">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @for (int i = 0; i < 5; i++)
            {
                <div class="form-group">
                    <label class="control-label">Tik</label>
                    <input name="dic[@i]" type="checkbox" class="form-control" />
                </div>
            }

            <hr>

            <div class="form-group">
                <label class="control-label">Tik</label>
                <input name="Name" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Tik</label>
                <input name="ch" type="checkbox" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
